In [1]:
image_data = []
labels = []

label_dict = {
    "Aerodactyl": 0,
    "Bulbasaur": 1,
    "Charmander": 2,
    "Dratini": 3,
    "Fearow": 4,
    "Meowth": 5,
    "Pikachu": 6,
    "Psyduck": 7,
    "Spearow": 8,
    "Squirtle": 9,
}

In [2]:
import os
folders = os.listdir("Train")
print(folders)

['Aerodactyl', 'Bulbasaur', 'Charmander', 'Dratini', 'Fearow', 'Meowth', 'Pikachu', 'Psyduck', 'Spearow', 'Squirtle']

In [3]:
from keras.preprocessing import image

In [4]:
for ix in folders:
  path = os.path.join("Train", ix)
  for im in os.listdir(path):
    img = image.load_img(os.path.join(path,im), target_size=(224, 224))
    img_array = image.img_to_array(img)
    image_data.append(img_array)
    labels.append(label_dict[ix])

c:\users\linta.kumar\appdata\local\programs\python\python37\lib\site-packages\PIL\Image.py:952: UserWarning: Palette images with Transparency expressed in bytes should be converted to RGBA images
  "Palette images with Transparency expressed in bytes should be "

In [5]:
print(len(image_data))

1645

In [6]:
print(len(labels))

1645

In [7]:
import random
combined = list(zip(image_data, labels))
random.shuffle(combined)

In [8]:
image_data[:], labels[:] = zip(*combined)

In [9]:
print(len(image_data))

1645

In [10]:
import numpy as np

In [11]:
X_train = np.array(image_data)
Y_train = np.array(labels)

print(X_train.shape, Y_train.shape)

(1645, 224, 224, 3) (1645,)

In [12]:
from keras.utils import to_categorical

In [13]:
Y_train = to_categorical(Y_train)

In [14]:
Y_train[:10]

array([[0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]], dtype=float32)

In [15]:
X = X_train.reshape((-1,224,224,1))

In [16]:
print(X.shape, Y_train.shape)

(4935, 224, 224, 1) (1645, 10)

In [17]:
X_train = X_train/255

In [18]:
from keras.utils import np_utils
from keras.models import Sequential
from keras.layers import Input, Convolution2D, MaxPooling2D, Flatten, Dense, Dropout
from keras.utils import np_utils
import tensorflow
from keras.applications.vgg16 import VGG16
from keras.layers import *
from keras.models import Model
from keras.optimizers import Adam

In [21]:
vggmodel = VGG16(weights='imagenet', include_top= False, input_shape=(224,224, 3))

In [22]:
for layer in vggmodel.layers:
    layer.trainable = False

In [23]:
vggmodel.summary()

Model: "vgg16"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 224, 224, 3)]     0
_________________________________________________________________
block1_conv1 (Conv2D)        (None, 224, 224, 64)      1792
_________________________________________________________________
block1_conv2 (Conv2D)        (None, 224, 224, 64)      36928
_________________________________________________________________
block1_pool (MaxPooling2D)   (None, 112, 112, 64)      0
_________________________________________________________________
block2_conv1 (Conv2D)        (None, 112, 112, 128)     73856
_________________________________________________________________
block2_conv2 (Conv2D)        (None, 112, 112, 128)     147584
_________________________________________________________________
block2_pool (MaxPooling2D)   (None, 56, 56, 128)       0
_________________________________________________________________
block3_conv1 (Conv2D)        (None, 56, 56, 256)       295168
_________________________________________________________________
block3_conv2 (Conv2D)        (None, 56, 56, 256)       590080
_________________________________________________________________
block3_conv3 (Conv2D)        (None, 56, 56, 256)       590080
_________________________________________________________________
block3_pool (MaxPooling2D)   (None, 28, 28, 256)       0
_________________________________________________________________
block4_conv1 (Conv2D)        (None, 28, 28, 512)       1180160
_________________________________________________________________
block4_conv2 (Conv2D)        (None, 28, 28, 512)       2359808
_________________________________________________________________
block4_conv3 (Conv2D)        (None, 28, 28, 512)       2359808
_________________________________________________________________
block4_pool (MaxPooling2D)   (None, 14, 14, 512)       0
_________________________________________________________________
block5_conv1 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_conv2 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_conv3 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_pool (MaxPooling2D)   (None, 7, 7, 512)         0
=================================================================
Total params: 14,714,688
Trainable params: 0
Non-trainable params: 14,714,688
_________________________________________________________________

In [110]:
av1 = GlobalAveragePooling2D()(vggmodel.output)
fc1 = Dense(256, activation='relu')(av1)
d1 = Dropout(0.5)(fc1)
fc2 = Dense(10, activation='softmax')(d1)

In [111]:
model_new = Model(inputs = vggmodel.input , outputs=fc2)
model_new.summary()

Model: "functional_13"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 224, 224, 3)]     0
_________________________________________________________________
block1_conv1 (Conv2D)        (None, 224, 224, 64)      1792
_________________________________________________________________
block1_conv2 (Conv2D)        (None, 224, 224, 64)      36928
_________________________________________________________________
block1_pool (MaxPooling2D)   (None, 112, 112, 64)      0
_________________________________________________________________
block2_conv1 (Conv2D)        (None, 112, 112, 128)     73856
_________________________________________________________________
block2_conv2 (Conv2D)        (None, 112, 112, 128)     147584
_________________________________________________________________
block2_pool (MaxPooling2D)   (None, 56, 56, 128)       0
_________________________________________________________________
block3_conv1 (Conv2D)        (None, 56, 56, 256)       295168
_________________________________________________________________
block3_conv2 (Conv2D)        (None, 56, 56, 256)       590080
_________________________________________________________________
block3_conv3 (Conv2D)        (None, 56, 56, 256)       590080
_________________________________________________________________
block3_pool (MaxPooling2D)   (None, 28, 28, 256)       0
_________________________________________________________________
block4_conv1 (Conv2D)        (None, 28, 28, 512)       1180160
_________________________________________________________________
block4_conv2 (Conv2D)        (None, 28, 28, 512)       2359808
_________________________________________________________________
block4_conv3 (Conv2D)        (None, 28, 28, 512)       2359808
_________________________________________________________________
block4_pool (MaxPooling2D)   (None, 14, 14, 512)       0
_________________________________________________________________
block5_conv1 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_conv2 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_conv3 (Conv2D)        (None, 14, 14, 512)       2359808
_________________________________________________________________
block5_pool (MaxPooling2D)   (None, 7, 7, 512)         0
_________________________________________________________________
global_average_pooling2d_3 ( (None, 512)               0
_________________________________________________________________
dense_7 (Dense)              (None, 256)               131328
_________________________________________________________________
dropout_4 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_8 (Dense)              (None, 10)                2570
=================================================================
Total params: 14,848,586
Trainable params: 133,898
Non-trainable params: 14,714,688
_________________________________________________________________

In [112]:
adam = Adam(lr=0.00003)
model_new.compile(loss='categorical_crossentropy', optimizer=adam, metrics=['accuracy'])

In [113]:
feature_extractor = model_new.predict(X_train)

In [114]:
features = feature_extractor.reshape(feature_extractor.shape[0],-1)

In [115]:
X_for_RF = features

In [116]:
from sklearn.ensemble import RandomForestClassifier

In [117]:
rfmodel = RandomForestClassifier(n_estimators = 50, random_state = 2)

In [118]:
rfmodel.fit(X_for_RF, Y_train)

RandomForestClassifier(n_estimators=50, random_state=2)

In [119]:
rfmodel.score(X_for_RF, Y_train)

0.9896656534954408

In [120]:
# Prediction on Test Set

In [121]:
folders = os.listdir("Test/images")
print(folders)

['test_0.jpg', 'test_1.jpg', 'test_10.jpg', 'test_100.jpg', 'test_101.jpg', 'test_102.jpg', 'test_103.jpg', 'test_104.jpg', 'test_105.jpg', 'test_106.jpg', 'test_107.jpg', 'test_108.jpg', 'test_109.jpg', 'test_11.jpg', 'test_110.jpg', 'test_111.jpg', 'test_112.jpg', 'test_113.jpg', 'test_114.jpg', 'test_115.jpg', 'test_116.jpg', 'test_117.jpg', 'test_118.jpg', 'test_119.jpg', 'test_12.jpg', 'test_120.jpg', 'test_121.jpg', 'test_122.jpg', 'test_123.jpg', 'test_124.jpg', 'test_125.jpg', 'test_126.jpg', 'test_127.jpg', 'test_128.jpg', 'test_129.jpg', 'test_13.jpg', 'test_130.jpg', 'test_131.jpg', 'test_132.jpg', 'test_133.jpg', 'test_134.jpg', 'test_135.jpg', 'test_136.jpg', 'test_137.jpg', 'test_138.jpg', 'test_139.jpg', 'test_14.jpg', 'test_140.jpg', 'test_141.jpg', 'test_142.jpg', 'test_143.jpg', 'test_144.jpg', 'test_145.jpg', 'test_146.jpg', 'test_147.jpg', 'test_148.jpg', 'test_149.jpg', 'test_15.jpg', 'test_150.jpg', 'test_151.jpg', 'test_152.jpg', 'test_153.jpg', 'test_154.jpg', 'test_155.jpg', 'test_156.jpg', 'test_157.jpg', 'test_158.jpg', 'test_159.jpg', 'test_16.jpg', 'test_160.jpg', 'test_161.jpg', 'test_162.jpg', 'test_163.jpg', 'test_164.jpg', 'test_165.jpg', 'test_166.jpg', 'test_167.jpg', 'test_168.jpg', 'test_169.jpg', 'test_17.jpg', 'test_170.jpg', 'test_171.jpg', 'test_172.jpg', 'test_173.jpg', 'test_174.jpg', 'test_175.jpg', 'test_176.jpg', 'test_177.jpg', 'test_178.jpg', 'test_179.jpg', 'test_18.jpg', 'test_180.jpg', 'test_181.jpg', 'test_182.jpg', 'test_183.jpg', 'test_184.jpg', 'test_185.jpg', 'test_186.jpg', 'test_19.jpg', 'test_2.jpg', 'test_20.jpg', 'test_21.jpg', 'test_22.jpg', 'test_23.jpg', 'test_24.jpg', 'test_25.jpg', 'test_26.jpg', 'test_27.jpg', 'test_28.jpg', 'test_29.jpg', 'test_3.jpg', 'test_30.jpg', 'test_31.jpg', 'test_32.jpg', 'test_33.jpg', 'test_34.jpg', 'test_35.jpg', 'test_36.jpg', 'test_37.jpg', 'test_38.jpg', 'test_39.jpg', 'test_4.jpg', 'test_40.jpg', 'test_41.jpg', 'test_42.jpg', 'test_43.jpg', 'test_44.jpg', 'test_45.jpg', 'test_46.jpg', 'test_47.jpg', 'test_48.jpg', 'test_49.jpg', 'test_5.jpg', 'test_50.jpg', 'test_51.jpg', 'test_52.jpg', 'test_53.jpg', 'test_54.jpg', 'test_55.jpg', 'test_56.jpg', 'test_57.jpg', 'test_58.jpg', 'test_59.jpg', 'test_6.jpg', 'test_60.jpg', 'test_61.jpg', 'test_62.jpg', 'test_63.jpg', 'test_64.jpg', 'test_65.jpg', 'test_66.jpg', 'test_67.jpg', 'test_68.jpg', 'test_69.jpg', 'test_7.jpg', 'test_70.jpg', 'test_71.jpg', 'test_72.jpg', 'test_73.jpg', 'test_74.jpg', 'test_75.jpg', 'test_76.jpg', 'test_77.jpg', 'test_78.jpg', 'test_79.jpg', 'test_8.jpg', 'test_80.jpg', 'test_81.jpg', 'test_82.jpg', 'test_83.jpg', 'test_84.jpg', 'test_85.jpg', 'test_86.jpg', 'test_87.jpg', 'test_88.jpg', 'test_89.jpg', 'test_9.jpg', 'test_90.jpg', 'test_91.jpg', 'test_92.jpg', 'test_93.jpg', 'test_94.jpg', 'test_95.jpg', 'test_96.jpg', 'test_97.jpg', 'test_98.jpg', 'test_99.jpg']

In [122]:
from pathlib import Path
py = Path("Test/images")

In [123]:
X_test = np.array(image_datay)

In [124]:

X_test = X_test/255

In [125]:
testfeature_extractor = model_new.predict(X_test)
testfeatures = testfeature_extractor.reshape(testfeature_extractor.shape[0],-1)

In [126]:
predictions = rfmodel.predict(testfeatures)

In [127]:
predictions

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [48]:
imagenames

['test_0.jpg',
 'test_1.jpg',
 'test_10.jpg',
 'test_100.jpg',
 'test_101.jpg',
 'test_102.jpg',
 'test_103.jpg',
 'test_104.jpg',
 'test_105.jpg',
 'test_106.jpg',
 'test_107.jpg',
 'test_108.jpg',
 'test_109.jpg',
 'test_11.jpg',
 'test_110.jpg',
 'test_111.jpg',
 'test_112.jpg',
 'test_113.jpg',
 'test_114.jpg',
 'test_115.jpg',
 'test_116.jpg',
 'test_117.jpg',
 'test_118.jpg',
 'test_119.jpg',
 'test_12.jpg',
 'test_120.jpg',
 'test_121.jpg',
 'test_122.jpg',
 'test_123.jpg',
 'test_124.jpg',
 'test_125.jpg',
 'test_126.jpg',
 'test_127.jpg',
 'test_128.jpg',
 'test_129.jpg',
 'test_13.jpg',
 'test_130.jpg',
 'test_131.jpg',
 'test_132.jpg',
 'test_133.jpg',
 'test_134.jpg',
 'test_135.jpg',
 'test_136.jpg',
 'test_137.jpg',
 'test_138.jpg',
 'test_139.jpg',
 'test_14.jpg',
 'test_140.jpg',
 'test_141.jpg',
 'test_142.jpg',
 'test_143.jpg',
 'test_144.jpg',
 'test_145.jpg',
 'test_146.jpg',
 'test_147.jpg',
 'test_148.jpg',
 'test_149.jpg',
 'test_15.jpg',
 'test_150.jpg',
 'test_151.jpg',
 'test_152.jpg',
 'test_153.jpg',
 'test_154.jpg',
 'test_155.jpg',
 'test_156.jpg',
 'test_157.jpg',
 'test_158.jpg',
 'test_159.jpg',
 'test_16.jpg',
 'test_160.jpg',
 'test_161.jpg',
 'test_162.jpg',
 'test_163.jpg',
 'test_164.jpg',
 'test_165.jpg',
 'test_166.jpg',
 'test_167.jpg',
 'test_168.jpg',
 'test_169.jpg',
 'test_17.jpg',
 'test_170.jpg',
 'test_171.jpg',
 'test_172.jpg',
 'test_173.jpg',
 'test_174.jpg',
 'test_175.jpg',
 'test_176.jpg',
 'test_177.jpg',
 'test_178.jpg',
 'test_179.jpg',
 'test_18.jpg',
 'test_180.jpg',
 'test_181.jpg',
 'test_182.jpg',
 'test_183.jpg',
 'test_184.jpg',
 'test_185.jpg',
 'test_186.jpg',
 'test_19.jpg',
 'test_2.jpg',
 'test_20.jpg',
 'test_21.jpg',
 'test_22.jpg',
 'test_23.jpg',
 'test_24.jpg',
 'test_25.jpg',
 'test_26.jpg',
 'test_27.jpg',
 'test_28.jpg',
 'test_29.jpg',
 'test_3.jpg',
 'test_30.jpg',
 'test_31.jpg',
 'test_32.jpg',
 'test_33.jpg',
 'test_34.jpg',
 'test_35.jpg',
 'test_36.jpg',
 'test_37.jpg',
 'test_38.jpg',
 'test_39.jpg',
 'test_4.jpg',
 'test_40.jpg',
 'test_41.jpg',
 'test_42.jpg',
 'test_43.jpg',
 'test_44.jpg',
 'test_45.jpg',
 'test_46.jpg',
 'test_47.jpg',
 'test_48.jpg',
 'test_49.jpg',
 'test_5.jpg',
 'test_50.jpg',
 'test_51.jpg',
 'test_52.jpg',
 'test_53.jpg',
 'test_54.jpg',
 'test_55.jpg',
 'test_56.jpg',
 'test_57.jpg',
 'test_58.jpg',
 'test_59.jpg',
 'test_6.jpg',
 'test_60.jpg',
 'test_61.jpg',
 'test_62.jpg',
 'test_63.jpg',
 'test_64.jpg',
 'test_65.jpg',
 'test_66.jpg',
 'test_67.jpg',
 'test_68.jpg',
 'test_69.jpg',
 'test_7.jpg',
 'test_70.jpg',
 'test_71.jpg',
 'test_72.jpg',
 'test_73.jpg',
 'test_74.jpg',
 'test_75.jpg',
 'test_76.jpg',
 'test_77.jpg',
 'test_78.jpg',
 'test_79.jpg',
 'test_8.jpg',
 'test_80.jpg',
 'test_81.jpg',
 'test_82.jpg',
 'test_83.jpg',
 'test_84.jpg',
 'test_85.jpg',
 'test_86.jpg',
 'test_87.jpg',
 'test_88.jpg',
 'test_89.jpg',
 'test_9.jpg',
 'test_90.jpg',
 'test_91.jpg',
 'test_92.jpg',
 'test_93.jpg',
 'test_94.jpg',
 'test_95.jpg',
 'test_96.jpg',
 'test_97.jpg',
 'test_98.jpg',
 'test_99.jpg']

In [129]:
Y_test = np.argmax(predictions, axis=1)

In [130]:
np.argmax(predictions, axis=1)

array([0, 0, 1, 2, 0, 0, 0, 0, 6, 0, 6, 0, 6, 0, 0, 6, 6, 6, 6, 6, 6, 0,
       0, 0, 1, 6, 0, 6, 0, 6, 0, 0, 0, 6, 0, 1, 7, 7, 7, 0, 0, 0, 0, 7,
       0, 7, 1, 0, 0, 9, 0, 0, 0, 8, 8, 8, 8, 1, 8, 8, 8, 8, 8, 8, 0, 8,
       0, 9, 1, 0, 9, 1, 0, 0, 9, 0, 9, 9, 9, 1, 0, 9, 9, 0, 0, 0, 0, 9,
       9, 9, 2, 0, 9, 2, 1, 2, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 6, 2, 2,
       0, 0, 2, 0, 0, 0, 2, 9, 0, 2, 0, 0, 2, 9, 6, 0, 1, 2, 2, 0, 0, 0,
       0, 0, 0, 3, 0, 0, 3, 0, 3, 0, 6, 0, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       0, 4, 4, 4, 0, 0, 9, 0, 0, 6, 0], dtype=int64)

In [131]:
Y_test[:10]

array([0, 0, 1, 2, 0, 0, 0, 0, 6, 0], dtype=int64)

In [132]:
Y_test.shape

(187,)

In [138]:
a = np.array(imagenames)
b = Y_test
a = a.reshape(a.shape[0],-1)
a.shape
b = b.reshape(b.shape[0],-1)

In [139]:
result = np.zeros((Y_test.shape[0],2))

In [140]:
result = np.hstack((a,b))

In [141]:
import pandas as pd

In [142]:
df = pd.DataFrame(data=result, columns=["Name","Class"])
df.head()
df.to_csv('test.csv')

In [143]:
df.head()

           Name Class
0    test_0.jpg     0
1    test_1.jpg     0
2   test_10.jpg     1
3  test_100.jpg     2
4  test_101.jpg     0

In [144]:
YTest = pd.read_csv("Test/sample_submission.csv")
YTest.head()
YTest.drop(columns=['Class'])

             Name
0     test_32.jpg
1    test_147.jpg
2    test_171.jpg
3    test_114.jpg
4    test_162.jpg
..            ...
182  test_150.jpg
183   test_72.jpg
184   test_95.jpg
185   test_88.jpg
186  test_110.jpg

[187 rows x 1 columns]

In [145]:
Yd = pd.merge(df, YTest, how='right', left_on='Name', right_on='Name')

In [146]:
Yd.head()

           Name Class_x  Class_y
0   test_32.jpg       0        0
1  test_147.jpg       8        0
2  test_171.jpg       9        0
3  test_114.jpg       6        0
4  test_162.jpg       1        0

In [147]:
Yd.to_csv('ans.csv')