In [79]:
import numpy as np
import pandas as pd

In [80]:
df = pd.read_csv("train/train.csv")
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3.0,0.0,"O'Donoghue, Ms. Bridget",female,NaN,0.0,0.0,364856,7.750,NaN,Q,NaN,NaN,NaN
1,2.0,0.0,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0.0,0.0,250655,26.000,NaN,S,NaN,NaN,NaN
2,2.0,1.0,"Smith, Miss. Marion Elsie",female,40.0,0.0,0.0,31418,13.000,NaN,S,9,NaN,NaN
3,3.0,1.0,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1.0,1.0,363291,20.525,NaN,S,C D,NaN,"Strood, Kent, England Detroit, MI"
4,3.0,1.0,"McCoy, Miss. Agnes",female,NaN,2.0,0.0,367226,23.250,NaN,Q,16,NaN,NaN

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1009 non-null   float64
 1   survived   1009 non-null   float64
 2   name       1009 non-null   object
 3   sex        1009 non-null   object
 4   age        812 non-null    float64
 5   sibsp      1009 non-null   float64
 6   parch      1009 non-null   float64
 7   ticket     1009 non-null   object
 8   fare       1008 non-null   float64
 9   cabin      229 non-null    object
 10  embarked   1008 non-null   object
 11  boat       374 non-null    object
 12  body       98 non-null     float64
 13  home.dest  582 non-null    object
dtypes: float64(7), object(7)
memory usage: 110.5+ KB

In [82]:
columns_to_drop = ["name","embarked","ticket","cabin","home.dest","body","boat"]

In [83]:
data_clean = df.drop(columns_to_drop,axis = 1)

In [84]:
data_clean.head()

   pclass  survived     sex   age  sibsp  parch    fare
0     3.0       0.0  female   NaN    0.0    0.0   7.750
1     2.0       0.0    male  39.0    0.0    0.0  26.000
2     2.0       1.0  female  40.0    0.0    0.0  13.000
3     3.0       1.0  female  31.0    1.0    1.0  20.525
4     3.0       1.0  female   NaN    2.0    0.0  23.250

In [85]:
from sklearn.preprocessing import LabelEncoder

In [86]:
le = LabelEncoder()
data_clean["sex"] = le.fit_transform(data_clean["sex"])

In [87]:
data_clean.head()

   pclass  survived  sex   age  sibsp  parch    fare
0     3.0       0.0    0   NaN    0.0    0.0   7.750
1     2.0       0.0    1  39.0    0.0    0.0  26.000
2     2.0       1.0    0  40.0    0.0    0.0  13.000
3     3.0       1.0    0  31.0    1.0    1.0  20.525
4     3.0       1.0    0   NaN    2.0    0.0  23.250

In [88]:
#data_clean = data_clean.fillna(data_clean["age"].mean())

In [89]:
data_clean['age'] = data_clean['age'].fillna((data_clean['age'].mean()))

In [90]:
data_clean['fare'] = data_clean['fare'].fillna((data_clean['fare'].mean()))

In [91]:
data_clean.columns[data_clean.isna().any()].tolist()

[]

In [92]:
data_clean.head()

   pclass  survived  sex        age  sibsp  parch    fare
0     3.0       0.0    0  29.838978    0.0    0.0   7.750
1     2.0       0.0    1  39.000000    0.0    0.0  26.000
2     2.0       1.0    0  40.000000    0.0    0.0  13.000
3     3.0       1.0    0  31.000000    1.0    1.0  20.525
4     3.0       1.0    0  29.838978    2.0    0.0  23.250

In [93]:
input_columns = ["pclass","sex","age","sibsp","parch","fare"]
output_columns = ["survived"]

In [94]:
X = data_clean[input_columns]
Y = data_clean[output_columns]

In [95]:
print(X.shape, Y.shape)

(1009, 6) (1009, 1)

In [96]:
from sklearn.tree import DecisionTreeClassifier

In [97]:
st = DecisionTreeClassifier(criterion="entropy", max_depth =8)

In [98]:
st.fit(X, Y)

DecisionTreeClassifier(criterion='entropy', max_depth=8)

In [99]:
st.score(X,Y)

0.869177403369673

In [101]:
dfTest = pd.read_csv("test/test.csv")

In [102]:
dfCleanTest = dfTest.drop(columns_to_drop,axis = 1)
dfCleanTest["sex"] = le.fit_transform(dfCleanTest["sex"])

In [103]:
dfCleanTest['age'] = dfCleanTest['age'].fillna((dfCleanTest['age'].mean()))

In [104]:
dfCleanTest['fare'] = dfCleanTest['fare'].fillna((dfCleanTest['fare'].mean()))

In [105]:
X_test = dfCleanTest.values

In [106]:
dfTest.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,"Flynn, Mr. John Irwin (""Irving"")",male,36.0,0.0,0.0,PC 17474,26.3875,E25,S,5,NaN,"Brooklyn, NY"
1,3.0,"Sage, Miss. Constance Gladys",female,NaN,8.0,2.0,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
2,1.0,"Rood, Mr. Hugh Roscoe",male,NaN,0.0,0.0,113767,50.0000,A32,S,NaN,NaN,"Seattle, WA"
3,2.0,"Gillespie, Mr. William Henry",male,34.0,0.0,0.0,12233,13.0000,NaN,S,NaN,NaN,"Vancouver, BC"
4,2.0,"Collander, Mr. Erik Gustaf",male,28.0,0.0,0.0,248740,13.0000,NaN,S,NaN,NaN,"Helsinki, Finland Ashtabula, Ohio"

In [108]:
YPred = st.predict(X_test)

In [145]:
#X_original = dfTest.values
#type(X_original[:,0])

numpy.ndarray

In [146]:
#passengerids = X_original[:,0]

In [147]:
#passengerids.shape

(418,)

In [148]:
#print(X_original[:,0].shape(),YPred.shape())

TypeError: 'tuple' object is not callable

In [109]:
#a = passengerids.reshape(passengerids.shape[0],-1)
b = YPred.reshape(YPred.shape[0],-1)

In [110]:
predictions = b

In [111]:
type(predictions)

numpy.ndarray

In [112]:
df = pd.DataFrame(data=predictions, columns=["Survived"])
df.head()
df.to_csv('ans.csv')

In [166]:
import pydotplus

from six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz

In [167]:
#!pip install sklearn.externals.six

In [168]:
dot_data = StringIO()
export_graphviz(st,out_file=dot_data,filled=True,rounded=True)

In [169]:
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
Image(graph.create_png())

InvocationException: GraphViz's executables not found

In [163]:
#!pip install graphviz

Collecting graphviz
  Downloading https://files.pythonhosted.org/packages/64/72/f4f4205db2a58e7a49e8190c0b49e9669d7ecadf6385b5bcdcf910354a6d/graphviz-0.15-py2.py3-none-any.whl
Installing collected packages: graphviz
Successfully installed graphviz-0.15

You are using pip version 10.0.1, however version 20.3.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [113]:

from sklearn.ensemble import RandomForestClassifier

In [161]:
rf = RandomForestClassifier(n_estimators=100, oob_score = True, max_depth = 5)

In [ ]:
param_grid = { "criterion" : ["gini", "entropy"], "min_samples_leaf" : [1, 5, 10, 25, 50, 70], "min_samples_split" : [2, 4, 10, 12, 16, 18, 25, 35], "n_estimators": [100, 400, 700, 1000, 1500]}
from sklearn.model_selection import GridSearchCV, cross_val_score
rf = RandomForestClassifier(n_estimators=100, max_features='auto', oob_score=True, random_state=1, n_jobs=-1)
clf = GridSearchCV(estimator=rf, param_grid=param_grid, n_jobs=-1)
clf.fit(X, Y)
clf.bestparams

In [162]:

#rf.fit(X,Y)

c:\users\linta.kumar\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(max_depth=5, oob_score=True)

In [163]:
#rf.score(X,Y)

0.8434093161546086

In [164]:
YPredForest = rf.predict(X_test)

In [165]:
#a_test = passengerids.reshape(passengerids.shape[0],-1)
b_test = YPredForest.reshape(YPredForest.shape[0],-1)

In [166]:
predictions =  b_test

In [167]:
df = pd.DataFrame(data=predictions, columns=["Survived"])
df.index.name='Index'
df.head()
df.to_csv('forest.csv')